@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead">Welcome to the Intel Galileo Internet of Things Project homepage!</p>
    <!--<p><a class="btn btn-primary btn-lg">Sample Button &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sensor Hub Project</h2>
        <p>
            The sensor hub project allows remote viewing of sensor data over the web.
        </p>
        <p><a href="@Url.Action("SensorHub", "Home")" class="btn btn-default">View Project &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Example Project 2</h2>
        <p>This text would describe the second project.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example Project 3</h2>
        <p>A description of the third project would go here.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>-->
</div>