@{
    ViewBag.Title = "Wireless Sensors Project";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Views/WirelessSensors.js")"></script>

<h2>@ViewBag.Title</h2>

<p>Galileo IP: <input id ="galileoIP" type="text" value="192.168.0.106" /></p>
<p><a class="btn btn-default ping">Ping Galileo</a></p>
<p id="pingResponse"></p>

<p>COM Port: <input id="comPort" type="text" value="COM1" /> </p>
<p><a class="btn btn-default request">Request Data</a></p>
<p id="requestResponse"></p>

<div id="urls-container" style="display:none">
    @Html.Hidden("ping-url", Url.Action("pingGalileo", "Galileo", null))
    @Html.Hidden("galileo-request-url", Url.Action("galileoRequest", "Galileo", null))
</div>